################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunctionalExtensions.Tests/obj
/FunctionalExtensions/obj
/DefensiveProgramming/obj
/.vs
/FunctionalExtensions/bin/Debug/netstandard2.0
/FunctionalExtensions.Tests/bin/Debug/netcoreapp2.1
